<%= render "shared/errors", errors: local_assigns[:errors] || @errors %>

<%= form_with url: form_url, method: form_method do %>
  <div class="form-group">
    <%= label_tag "notebook[name]", "Name" %>
    <%= text_field_tag "notebook[name]", notebook["name"], class: "form-control", placeholder: "Notebook name...", autofocus: true %>
  </div>

  <div class="form-group">
    <%= label_tag "notebook[description]", "Description" %>
    <%= text_area_tag "notebook[description]", notebook["description"], class: "form-control", rows: 4, placeholder: "Describe this notebook..." %>
  </div>

  <div class="form-actions">
    <%= submit_tag submit_label, class: "btn btn-primary" %>
    <%= link_to "Cancel", cancel_path, class: "btn" %>
  </div>
<% end %>
