<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Mark Main" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
      <div class="navbar-inner">
        <%= link_to "Mark Main", root_path, class: "brand" %>
        <div class="nav-links">
          <div class="nav-dropdown">
            <span class="nav-link nav-link-dropdown">Trading</span>
            <div class="nav-dropdown-content">
              <%= link_to "Dashboard", root_path %>
              <%= link_to "Trades", trades_path %>
              <%= link_to "Journal", journal_entries_path %>
              <%= link_to "Tags", tags_path %>
              <hr class="nav-divider">
              <%= link_to "Overview", reports_overview_path %>
              <%= link_to "By Symbol", reports_by_symbol_path %>
              <%= link_to "Equity Curve", reports_equity_curve_path %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <main class="main-content">
      <%= render "shared/flash" %>
      <%= yield %>
    </main>
  </body>
</html>
